.container{
  display:flex; 
  flex-direction:row;}

.left {
  text-align: center;
  align-items: center;
  width: 50%;
}

.right {
  text-align: center;
  width: 50%;
}

.scrollBar {
        width: 50%;
        height: 250px;
        border: 2px solid;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
