.App {
  text-align: center;
}

.spotReport {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.spotReportForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  margin: 10px;
}

input {
  margin-left: 5px;
}